<div class="container" ng-controller="CustomController as Custom">
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <h1 class="page-header">Custom

                <button type="button" class="btn btn-success" aria-label="Add" ng-click="new()" data-target="#createCustom">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>

            </h1>

            <div class="alert alert-success" ng-if="showAlert" role="alert">
                <p>Log file: <a target="_blank" ng-href="/logs/{{message.log}}">show</a></p>
                <p>Error:  {{message.error}}</p>
            </div>

            <div id="tags" class="table-responsive tab-pane fade in active">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>URI</th>
                        <th>State</th>
                        <th>Comment</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="custom in customs">
                        <td style="white-space: nowrap">{{custom.Name}}</td>
                        <td>
                            Params: {{custom.Query}} <br>
                            <a target="_blank" href="/js/vn_player.js?{{custom.Query}}">Player</a>,
                            <a target="_blank" href="/js/vn_init_player.js?{{custom.Query}}">Init</a>,
                            <a target="_blank" href="/js/vn_editor.js?{{custom.Query}}">Editor</a>
                        </td>
                        <td ng-if="custom.Build != '0001-01-01T00:00:00Z'">
                            <span ng-if="!custom.needBuild" class="label label-success">{{custom.Build|date:'yyyy.MM.dd HH:mm'}}</span>
                            <span ng-if="custom.needBuild" class="label label-warning">build change: {{custom.Created|date:'yyyy.MM.dd HH:mm'}}</span>
                        </td>
                        <td ng-if="custom.Build == '0001-01-01T00:00:00Z'"><span class="label label-danger">no built</span></td>
                        <td>{{custom.Comment}}</td>
                        <td>{{custom.Created|date:'yyyy.MM.dd HH:mm'}}</td>
                        <td>
                            <button ng-class="custom.loading ? 'disabled' : ''" type="button" class="btn btn-primary" ng-click="build(custom)">
                                <span ng-if="custom.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Build
                            </button>
                            <button ng-class="custom.loading ? 'disabled' : ''" type="button" class="btn btn-success" ng-click="edit(custom)">
                                <span ng-if="custom.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Edit
                            </button>
                            <button ng-class="custom.loading ? 'disabled' : ''" type="button" class="btn btn-danger" ng-click="remove(custom)">
                                <span ng-if="custom.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <!-- Modal -->
    <div id="createCustom" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New custom</h4>
                </div>
                <div class="modal-body">

                    <form role="form">
                        <fieldset class="form-group">
                            <legend>Rules</legend>

                            <div class="form-group form-inline" ng-repeat="params in custom.Params">
                                <div class="input-group col-6">
                                    <span class="input-group-addon">key</span>
                                    <input ng-model="params.Key" type="text" class="form-control" placeholder="Key in request string">
                                </div>
                                <div class="input-group col-6">
                                    <span class="input-group-addon">value</span>
                                    <input ng-model="params.Value" type="text" class="form-control" placeholder="Value by key in request">
                                </div>
                                <button style="float:right;" type="button" ng-click="delParam($index, 'Params')" class="btn btn-danger">remove</button>
                            </div>

                            <button type="button" ng-click="addParam('Params')" class="btn btn-default">Add</button>
                        </fieldset>

                        <fieldset class="form-group">
                            <legend>Npm</legend>

                            <div class="form-group form-inline" ng-repeat="npm in custom.Npm">
                                <div class="input-group col-6">
                                    <span class="input-group-addon">key</span>
                                    <input ng-model="npm.Key" type="text" class="form-control" placeholder="Key in request string">
                                </div>
                                <div class="input-group col-6">
                                    <span class="input-group-addon">value</span>
                                    <input ng-model="npm.Value" type="text" class="form-control" placeholder="Value by key in request">
                                </div>
                                <button style="float:right;" type="button" ng-click="delParam($index, 'Npm')" class="btn btn-danger">remove</button>
                            </div>

                            <button type="button" ng-click="addParam('Npm')" class="btn btn-default">Add</button>
                        </fieldset>

                        <fieldset class="form-group">
                            <legend>Build</legend>

                            <div class="form-group" style="width: 100%">

                                <div class="input-group form-group">
                                    <span class="input-group-addon" id="basic-addon1">name</span>
                                    <input ng-model="custom.Name" type="text" class="form-control" placeholder="name" aria-describedby="basic-addon1">
                                </div>

                                <div class="form-group branch-list" style="width: 100%">
                                    <select ng-model="custom.Branch" title="Choose branch" data-width="100%">
                                        <option ng-repeat="branch in branches">{{branch.Name}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <textarea ng-model="custom.Comment" class="form-control" placeholder="comment" />
                                </div>
                            </div>
                        </fieldset>


                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-if="isEdit" type="button" ng-click="update(custom)" class="btn btn-success">Update</button>
                    <button ng-if="!isEdit" type="button" ng-click="save(custom)" class="btn btn-success">Create</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>