<div class="container" ng-controller="DeployController as Deploy">
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <h1 class="page-header">Dashboard</h1>

            <div class="alert alert-success" ng-if="showAlert" role="alert">
                <p>Log file: <a target="_blank" ng-href="/logs/{{message.log}}">show</a></p>
                <p>Error:  {{message.error}}</p>
            </div>

            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="tab == 'tag' ? 'active' : ''"><a ng-click="changeTab('tag')">Tags</a></li>
                <li role="presentation" ng-class="tab == 'commit' ? 'active' : ''"><a ng-click="changeTab('commit')">Commits</a></li>
            </ul>

            <div class="tab-content" style="position:relative;">
                <div class="checkbox" style="position: absolute;right: 0;top: -40px;">
                    <label>
                        <input type="checkbox" ng-click="debugAction()" ng-checked="debug" id="checkboxSuccess" value="debug"><span class="label label-danger">DEBUG MODE</span>
                    </label>
                </div>
                <div id="tags" ng-class="tab == 'tag' ? 'in active' : ''" class="table-responsive tab-pane fade">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Author</th>
                            <th>Comment</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tag in tags">
                            <td style="white-space: nowrap">
                                <span ng-if="tag.Active" class="badge" style="float: left;background: #5cb85c;margin-right: 5px;">&nbsp;</span>
                                {{tag.Id}}
                            </td>
                            <td>{{tag.Name}}</td>
                            <td>{{tag.Date}}</td>
                            <td>{{tag.Author}}</td>
                            <td>{{tag.Comment}}</td>
                            <td>
                                <button ng-class="loading ? 'disabled' : ''" ng-if="!tag.Active" ng-click="checkoutTag(tag.Name)" type="button" class="btn btn-success">
                                    <span ng-if="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Checkout
                                </button>
                                <button ng-if="tag.Active" ng-click="checkoutTag('player')" type="button" class="btn btn-danger">Cancel</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="commits" ng-class="tab == 'commit' ? 'in active' : ''" class="table-responsive tab-pane fade">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Author</th>
                            <th>Comment</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="commit in commits">
                            <td style="white-space: nowrap">
                                <span ng-if="commit.Active" class="badge" style="float: left;background: #5cb85c;margin-right: 5px;">&nbsp;</span>
                                {{commit.Id}}
                            </td>
                            <td>{{commit.Date}}</td>
                            <td>{{commit.Author}}</td>
                            <td>{{commit.Comment}}</td>
                            <td>
                                <button ng-class="loading ? 'disabled' : ''" ng-if="!commit.Active" ng-click="checkoutCommit(commit.Id)" type="button" class="btn btn-success">
                                    <span ng-if="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Checkout
                                </button>
                                <button ng-if="commit.Active" ng-click="checkoutTag('player')" type="button" class="btn btn-danger">Cancel</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>